@font-face {
    font-family: 'Nunito';
    src: url(../assets/fonts/Nuninto/static/Nunito-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Nunito';
    src: url(../assets/fonts/Nuninto/static/Nunito-Italic.ttf);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Nunito';
    src: url(../assets/fonts/Nuninto/static/Nunito-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}